/*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
//|| ChatRTC :: Component CSS
//|| CSS :: Select Sound
//||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/
            
      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Button
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/      
      
      div.selectSound {
            display           : flex;
            align-items       : center;
            gap               : 10px;
      }

      div.selectSound select,
      div.selectSound button {
            padding           : 8px 12px;
            font-size         : 16px; /* Adjust based on your preference */
            border            : 1px solid #ccc; /* Light grey border */
            background-color  : #f0f0f0; /* Light grey background */
            color             : #333; /* Dark grey text */
            cursor            : pointer;
      }     

      div.selectSound button {
            border-radius     : 20px; /* Rounded corners */
            border-color      : #007aff; /* Blue border for the button */
            background-color  : #007aff; /* Blue background for the button */
            color             : white; /* White text for the button */
            font-weight       : bold;
      }


