/*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
//|| ChatRTC :: Container
//|| CSS:: Main Container
//||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Main
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      main * {
            box-sizing              : border-box;
            -moz-box-sizing         : border-box;
            -webkit-box-sizing      : border-box;
      }

      div.chatOverlay {
            background              : rgba(0,0,0, 0.7);
            display                 : block;
            height                  : 100%;
      }

      main div.main {
            position         : fixed;
            top              : 0;   
            left             : 0;
            bottom           : var(--height-toolbar);
            width            : var(--width-main);
            background       : url(/public/img/backgrounds/background.jpg) no-repeat center center;
            background-size  : cover; 
      }

      main div.users {
            position         : fixed;
            top              : 0;   
            bottom           : var(--height-toolbar);
            right            : 0;
            width            : var(--width-users);
            overflow-y       : auto;
            background-size  : cover;
            background       : #FFF;
      }

      main.closed div.main {
            width            : var(--width-main-closed);
      }

      main.closed div.users {
            width            : var(--width-users-closed);
      }

      main.closed   div.users div.usersOverlay {
            width            : var(--width-users-closed);
      }
