/*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
//|| ChatRTC :: Component CSS
//|| CSS :: Modal Settings
//||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      div.areaMain{
            grid-template-columns   : 20% 80%;
            display                 : grid;
            height                  : 100%;
      }      
                  
      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Menu Settings
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/      

      ul.menuSettings {
            display                 : flex;
            flex-direction          : column;            
            list-style              : none;
            padding                 : 0;
            margin                  : 0;
            height                  : 100%;
            width                   : 100%;
            overflow                : auto;            
      }

      ul.menuSettings li {
            display                 : block;
            margin                  : 0 0;
            padding                 : 16px 10px 16px 20px;
            color                   : var(--color-text);            
            cursor                  : pointer;
      }

      ul.menuSettings li.active {
            background-color        : var(--color-hover-bg);
            color                   : white;
      }      

      ul.menuSettings li.active i {
            color                   : #FFF;
      }

      ul.menuSettings li i {
            margin-right            : 10px;
            display                 : inline-block;
            border-radius           : 50%;
            width                   : 20px;     
            color                   : var(--color-text-light);
      }

      ul.menuSettings li:hover {
            background              : var(--color-hover-bg);
            opacity                 : 0.8;
            color                   : #FFF;
      }

      ul.menuSettings li:hover i {
            color                   : #FFF;
      }

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Area Settings
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/      

      div.areaSettings {
            display                 : block;
            height                  : 100%;
            overflow                : auto;
            border                  : 1px solid var(--color-border-light);
      }

      div.areaSettings h2 { 
            display                 : block;
            padding                 : 20px 20px;
            margin                  : 0;
            font-size               : 1.2em;
      }
      
      div.areaSettings h2 i { 
            margin-right            : 10px;
            display                 : inline-block;
            font-size               : 1em;
      }
      div.areaSettings .subsection { 
            display                 : block;
            margin                  : 0;
            padding                 : 0 0 50px 0;
            border-bottom           : 1px solid var(--color-border-light);
            background              : #F5F5F5;
            min-height              : 90%;
      }

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Setting Group
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/      

      div.settingGroup {
            display                 : block;
            margin                  : 0;
            padding                 : 20px 20px;
            border-bottom           : 1px solid #CCC;
      }
