 /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
//|| ChatRTC :: User
//|| CSS:: User List
//||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Main
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/
            
      div.userList {
            padding           : 0;
            height            : calc(100% - var(--height-search));
            display           : flex;
            flex-direction    : column;            
            overflow-x        : hidden;
      }

      div.userList.filtering {
            padding           : 0;
            padding-top       : calc(var(--height-search) - 10px);
            height            : calc(100% - var(--height-search));
      }

      div.userList h2.filterHeader {
            position          : fixed;
            top               : var(--height-search);
            padding           : 20px 20px;
            background        : var(--color-bg-highlight);
            margin            : 0 0 0 0;
            font-size         : 0.8em;
            width             : var(--width-users);
      }

      div.userList h2.filterHeader b {
            font-weight       : bold;
            color             : var(--color-text);
      }

      div.userList h2.filterHeader span {
            position          : absolute;
            right             : 20px;
            top               : 2px;
            padding           : 15px 20px;
            font-size         : 1.2em;
            cursor            : pointer;
      }

      main.closed div.userList { 
            padding           : 0;
      }

      main.closed div.userList h2.filterHeader {
            display           : none;
      }

      main.closed div.userList {
            width             : var(--width-users-closed);
      }

      .blur-div {
            filter            : blur(5px);

      }

      div.empty { 
            display           : flex;
            justify-content   : center;
            align-items       : center;
            font-size         : 0.8em;
            color             : var(--color-text-light);
            padding           : 20px 0;     
            cursor            : pointer;       
      }

      div.empty span {
            font-size         : 1em;
            padding           : 5px 5px;
            display           : inline-block;
            border-radius     : 50%;
            background        : var(--color-bg-light);
            margin            : 0 10px;
      }
