/*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
//|| ChatRTC :: Loader
//|| CSS:: Menu Icon 
//||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Transform
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      div.menuIconMenu { 
            display           : none;
            position          : fixed; 
            background        : var(--color-bg); 
            padding           : 0; 
            margin            : 0; 
            background        : var(--color-bg); 
            grid-template-rows: repeat(5, 1fr); 
            text-align        : center;
            width             : calc(var(--toolbar-height) + 6px);
            box-shadow        : 0 0 10px 0 rgba(-10px, 0, 0, 0.5);
            z-index           : 100;
            box-sizing        : border-box;
            border-bottom     : 2px solid var(--color-border);
      }      

      div.menuIconWrap { 
            display           : grid; 
            border            : 1px solid var(--color-border-light);
            border-bottom     : 0;
      }

      div.menuIconWrap:first-child {
            border-top        : 3px solid var(--color-bg-hover);
      }

      div.menuIconWrap button.menuButtonIcon span { 
            display           : block;
            left              : 0;
            overflow          : hidden;
            text-align        : center;
            align-items       : center;
            font-weight       : normal;
            padding-top       : 4px;
            font-size         : 0.55em;
            color             : var(--color-icon-color);    
            box-sizing        : border-box;
      }

      div.menuIconWrap button.menuButtonIcon {
            display           : block;
            border            : 0;
            background        : var(--color-bg); 
            cursor            : pointer;  
            font-size         : 1.2em;
            color             : var(--color-icon-color);    
            padding           : 10px 0 0 0;
            transition        : background-color 0.3s ease;            
      }


      div.menuIconWrap button.menuButtonIcon:hover span {
            color             : var(--color-text-hover);
      }

      div.menuIconWrap button.menuButtonIcon:hover {
            background        : var(--color-bg-hover);
            color             : var(--color-text-hover);
      }
      

