/*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
//|| ChatRTC :: Loader
//|| CSS:: Menu Icon 
//||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Transform
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      div.menuIconMenu { 
            display           : none;
            position          : fixed; 
            background        : #fff; 
            padding           : 0; 
            margin            : 0; 
            background        : var(--color-bg); 
            grid-template-rows: repeat(5, 1fr); 
            text-align        : center;
            width             : calc(var(--toolbar-height) + 6px);
            box-shadow        : 0 0 10px 0 rgba(0, 0, 0, 0.1);
            z-index           : 100;
            box-sizing        : border-box;
            border-bottom     : 2px solid var(--color-border);
      }      

      div.menuIconWrap { 
            display           : grid; 
            border            : 1px solid #EAEAEA;
            border-bottom     : 0;
      }

      div.menuIconWrap button span { 
            display           : block;
            left              : 0;
            overflow          : hidden;
            text-align        : center;
            align-items       : center;
            font-weight       : normal;
            padding-top       : 4px;
            font-size         : 0.5em;
            color             : var(--color-icon-color);    
            box-sizing        : border-box;
      }

      div.menuIconWrap button.menuButtonIcon {
            display           : block;
            border            : 0;
            background        : #FFF;
            cursor            : pointer;  
            font-size         : 1.3em;
            color             : var(--color-icon-color);    
            padding           : 10px 0 0 0;
      }

      div.menuIconWrap button.menuButtonIcon:hover span {
            color             : var(--color-hover-text);
      }
      div.menuIconWrap button.menuButtonIcon:hover {
            background        : var(--color-hover-bg);
            color             : var(--color-hover-text);
      }
      

