/*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
//|| ChatRTC :: User
//|| CSS:: User List Item
//||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Main
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      .userListItem {
            display                 : grid;
            align-items             : center;
            grid-template-columns   : 50px 150px 1fr 60px;
            margin                  : 4px 10px 0;
            background              : rgba(255,255,255,0.9);
            cursor                  : pointer;
            padding                 : 3px 5px;
      }

      main.closed .userListItem {
            display                 : flex;
            margin                  : 0;
            padding                 : 5px 0 15px;
            width                   : calc(var(--width-users-closed) - 15px);
            justify-content         : center;
            align-items             : center;
      }

      main.closed .userListItem:hover {
            background              : var(--color-hover-bg);
      }


      .userListItem.open {

            grid-template-columns   : 50px 150px 1fr;
      }

      .userListItem div { 
            height                  : 35px;
            justify-content         : center;
            align-items             : center;
      }

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| User Level
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/
      
      .userListItem.gold { 
            background              : rgba(255,215,0,0.1);
      }

      .userListItem.silver { 
            background              : rgba(192,192,192,0.1);
      }

      .userListItem.bronze { 
            background              : rgba(205,127,50,0.1);
      }

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| User Image
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      .userListItem .userImage {
            padding           : 0;
      }

      .userListItem .userImage img {
            width             : 35px;
            height            : 35px;
            border-radius     : 50%;
      }      

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| User Info
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      .userInfo { 
            align-items       : flex-start;
            font-size         : 0.8em;
            width             : 100%;
      }

      .userInfo ul {
            padding-top       : 2px;
            max-width         : 100%;
            padding           : 0 10px 0 0;
      }

      .userInfo ul li {
            display           : flex;
            text-align        : left;
            vertical-align    : top;
            max-height        : 1.2em;
            line-height       : 1.2em;
            overflow-x        : hidden;
      }

      .userInfo .username { 
            font-size         : 1.1em;
            font-weight       : bold;
            color             : #333;
            text-decoration   : none;
            overflow          : hidden;
            width             : 100%;
      }
      
      .userListItem .userInfo .distance { 
            display           : none;
      }

      .userListItem .userInfo .distance span.imperial { 
            display           : none;
      }


      .userListItem.open .userInfo .distance { 
            display           : block;
      }

      .userInfo .distance,
      .userInfo .location { 
            font-size         : 1.0em;
            font-weight       : bold;
            color             : rgba(100,100,100,0.4);
            text-decoration   : none;
            width             : 100%;
            max-height        : 1.4em;
            overflow          : hidden;
      }

      .userListItem.open .userInfo .location { 
            display           : none;
      }
      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| User Icons
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      .userListItem div.userIcons { 
            display                 : grid;
            text-align              : center;
            grid-template-columns   : 2fr 1fr 1fr 1fr 1fr; 
      }

      .userListItem.open div.userIcons { 
            display                 : none;
      }
            
      .userListItem div.userIcons i { 
            display                 : flex;
            justify-content         : center;
            align-items             : center;
            font-size               : 0.9em;
            color                   : #999;  
            margin                  : 6px 0;    
      }

      .userListItem div.userIcons i.age { 
            font-size               : 0.9em;
            font-weight             : bold;
            color                   : #999;
            background              : rgba(0,0,0,0.01);  
      }

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| User Icons
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      .userButtons {
            display                 : flex;
            justify-content         : center;
            align-items             : center;
            font-size               : 1.2em;
            color                   : #999;      
      }
            
      .userListItem.open div.userButtons { 
            display                 : none;
      }

      .userButtons button {
            width                   : 100%;
            height                  : 100%;
            border                  : none;
            background              : transparent;
            cursor                  : pointer;
      }

      .userButtons button.viewCamera {
            background-color        : var(--color-hover-bg);
            color                   : white;
            padding                 : 0px 15px;
            border                  : none;
            border-radius           : 5px;
            cursor                  : pointer;
            margin                  : 8px;
            padding                 : 8px 8px;
      }

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Main
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      .userListItem .userActions {
            display                 : none;
            align-items             : center;
            grid-template-columns   : repeat(6, 1fr);
            background              : rgba(0,0,0,0.05);
            cursor                  : pointer;
            padding                 : 0;
      }

      .userListItem.open .userActions {
            display                 : grid;
      }
      
      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| User Classes - Activity
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      .userListItem .userIcons i .active,
      .userListItem .userIcons i .idle,
      .userListItem .userIcons i .away {  
            display                : none;
      }
      .userListItem .userIcons i.active .active{
            display                : block;
            color                  : green;
      }
      .userListItem .userIcons i.idle .idle{
            display                : block;
            color                  : gray;
      }
      .userListItem .userIcons i.away .away{
            display                 : block;
            color                   : darkblue;
      }

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| User Classes - Gender
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      .userListItem .userIcons i.M {
            color                   : #00F;
      }
      .userListItem .userIcons i.F {
            color                   : #F0F;
      }
      .userListItem .userIcons i.T {
            color                   : purple;
      }
      .userListItem .userIcons i.O {
            color                   : red;
      }
      .userListItem .userIcons i.NA {
            color                   : transparent;
      }

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| User Classes - Certified
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      .userListItem .userIcons i.notCertified {
            color                   : transparent;
      }
      .userListItem .userIcons i.certified {
            color                  : gold;
      }

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| User Panel Closed
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      main.closed .userIcons, 
      main.closed .userButtons, 
      main.closed .userInfo {  
            display           : none;
      }

      main.closed .userListItem .userImage {
            justify-content  : center;
            padding          : 4px;
      }

      main.closed .userListItem .userImage img {
            width            : 35px;
            height           : 35px;
      }
